body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #333;
}


.logo img {
    max-width: 130px; 
    height: auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto; /* Moves the navigation links to the right */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

.logout-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px; /* Adds space between the nav links and logout button */
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: #e60000;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

section {
    padding: 30px;
    margin: 20px;
    background: url('images/i11.jpg') no-repeat center center/cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-card {
    padding: 20px;
    background: linear-gradient(to left,    #5881d8, #acd8fc);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #007bff;
}
h2{
    color: white;
}
h3 {
    margin: 10px 0;
    color: #007bff;
}

footer {
    text-align: center;
    padding: 15px;
    background: #4c1c64;
    color: white;
}
.manage-btn {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
}

.manage-btn:hover {
    background: #0056b3;
}
